F:\Collage\Sem 2\PRAKTIKUM\ALPRO\Pra praktikum\.vscode
F:\Collage\Sem 2\PRAKTIKUM\ALPRO\Pra praktikum\[2100018232][PRA ALPRO][Andhika Bagus].docx
F:\Collage\Sem 2\PRAKTIKUM\ALPRO\Pra praktikum\[2100018232][PRA ALPRO][Andhika Bagus].pdf
F:\Collage\Sem 2\PRAKTIKUM\ALPRO\[232][STUDI KASUS][ANDHIKA BAGUS].pdf
F:\Collage\Sem 2\PRAKTIKUM\ALPRO\Modul Praktikum Algoritma Pemrograman 2021.pdf
F:\Collage\Sem 2\PRAKTIKUM\ALPRO\Kelompok Alpro